<!DOCTYPE html>
<html>
<head>
	<title>Hotelquickly</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
	<div class="hquickly">
		<div class="container">
		<h2>Order Section</h2>
				<h4>Full name</h4>
				<div class="form">
					<div class="input-group col-md-6 col-xs-10">
						<input type="text" class="form-control fullName" placeholder="Full Name">
					</div>
				</div>
			<br>
			<form class="form-inline">
				<h4>Price</h4>
				<div class="form-group" style="display: flex">
					<div class="input-group col-sm-4 col-md-2 col-xs-4">
						<input type="text" class="form-control price" placeholder="Amount">
						<!-- <div class="input-group-addon">.00</div> -->
					</div>
					&nbsp;
					<div class="dropdown">
						<button id="dLabel" type="button" class="currencyDropDown btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Currency
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu currencySelector" role="menu" aria-labelledby="dLabel">
							<li><a>USD</a></li>
							<li><a>EUR</a></li>
							<li><a>THB</a></li>
							<li><a>HKD</a></li>
							<li><a>SGD</a></li>
							<li><a>AUD</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
		<br><br>
		<div class="container">
		<h2>Payment Section</h2>
			<div class="input-group col-md-6 col-xs-10">
				<h4>Name On the Card</h4>
				<input type="text" class="form-control cardHolderName" placeholder="Name on Card" autocomplete="off">
				<br><br>	
				<h4>Card Number</h4>
				<input type="text" class="form-control cardNumber" placeholder="Card Number" maxlength="16">
			</div>
			<br>
			<!-- Month year container -->
			<div  class="input-group col-md-2 col-xs-4">
				<h4>Expiry Date</h4>
				<div class="expiryInfo" style="display: flex">
					<input type="text" class="form-control expiryMonth" placeholder="MM" autocomplete="off" maxlength="2">
					<input type="text" class="form-control expiryYear" placeholder="YYYY" autocomplete="off" maxlength="4"> &nbsp;
				</div>
				<br>
					<h4>CVV</h4>
					<input type="password" class="form-control cvv" placeholder="CVV" autocomplete="off" maxlength="4">
			</div>
			<br>
		</div>
		<div class="container">
			<button type="button" class="btn btn-primary clear">Clear</button>
			<button type="button" class="btn btn-success submit">Submit</button>
		</div>
	</div>
<script type="text/javascript" src="scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>